<article class="queue" id="party_<%= party.id %>" data-partyon-partyid="<%= party.id %>" data-partyon-userid="<%= user.id %>">
	<h3 class="title"><%= party.name %>
		<small class="details"><%= party.tracks.length %> tracks &bull; <%=: party.users.length %> guests</small>
	</h3>
	<form class="search">
		<input type="text" class="sp-search input-xlarge">
	</form>
	<ul id="queue-list" class="list"></ul>
</article>

<script type="text/javascript">
(function() {

	var app = {},
		partyId = $("article.queue").attr('data-partyon-partyid'),
		userId = $("article.queue").attr('data-partyon-userid');

	Mast.registerModel('Track', {
		defaults: {
			title: "",
			userId: 0,
			trackUri: "",
			artists: "",
			votes: 0,
			partyId: partyId
		}
	});

	Mast.registerCollection('PartyTracks', {
		url : '/track',
		model : 'Track',
		emptyHTML: "<li>No tracks yet for this party.</li>",
		comparator: function(track) {
			return -track.get('votes');
		}
	});

	Mast.registerTree("PartyTracksList", {
		outlet : '#queue-list',
	   	template : '.queue-list',
	    collection : "PartyTracks",
	    branchComponent : "TrackListItem"
	});

	Mast.registerComponent('TrackListItem', {
		template : '.party-track',
	});

	Mast.routes.index = function(query,page) {
	    app.tracks = new Mast.components.PartyTracksList({where : { partyId : partyId } });
	}

	Mast.raise({
		baseurl: "http://localhost:1337"
	});

	$(function() {
		// autocomplete setup
		$('.sp-search').autocomplete({
			source: function(req, res) {
				$.getJSON("http://ws.spotify.com/search/1/track.json?q=" + req.term, function(data) {
					res(_.map(_.first(data.tracks, 5), function(track) {
						if(track.artists.length > 0) track.artists[0].first = true;

						return track;
					}));
				});
			},
			select: function(ev, ui) {
				var model = app.tracks.appendBranch({
					trackUri : ui.item.href,
					title : ui.item.name,
					artist : _.pluck(ui.item.artists, 'name').join(', '),
					partyId : partyId,
					userId: userId,
					votes : 1
				});
			}
		}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li>" )
				.append( Templates.spotifyItem.render(item) )
				.appendTo( ul );
		};
	});
})();
</script>